# info, debug, error, etc
LOGLEVEL=info

# Parameters to fetch from Clarity API
CLARITY_API_KEY=
CLARITY_ORG_NAME=cityof58A9
CLARITY_USE_CONTINUATION_TOKEN=false

# Set this to resume an in-progress historical measurements report
# CLARITY_REPORT_ID=''

# Parameters for S3 upload destination
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=chicago-aq
S3_STORAGE_CLASS=STANDARD

# use default endpoint for AWS S3
# uncomment for MinIO (e.g. http://localhost:9000)
# S3_ENDPOINT_URL=http://localhost:9000

# if using default endpoint, you should specify a region
# this parameter is ignored if a custom ENDPOINT_URL is provided
S3_REGION=us-east-2

# Local directory that will be uploaded to the bucket
LOCAL_OUTPUT_DIR=/home/rstudio/data

# (optional) MinIO deployment for local development
# MINIO_ROOT_USER=minioadmin
# MINIO_ROOT_PASSWORD=minioadmin
