LP_MASTER_PATH='./data/cleaned/LightPostMaster_Cleaned.csv'
GRID_PATH='./data/cleaned/GridMaster.csv'
CANDIDATE_SENSORS_PATH='./data/cleaned/CandidateSensorswUID.csv'

INPUT_FILE_PATH='./data/no-community-input.xlsx'
OUTPUT_PATH='./data/merged-no-community-input.xlsx'